<!DOCTYPE html>
<html>
  <head>
    <title>Usman Kabir</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= favicon_link_tag asset_path('favicon.svg'), type: "image/svg+xml" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <%= render "home/location"%>
    <div class="visitors_count">
      <%= "Total people visited: #{@visitors_count}" %>
    </div>
    <div class="cursor">
    </div>
  </body>
</html>
