<!DOCTYPE html>
<html>
  <head>
    <title>Usman Kabir</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= favicon_link_tag asset_path('favicon.svg'), type: "image/svg+xml" %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
    <div class="cursor"></div>
  </body>
</html>
